<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Remind Me!!</title>
    <link rel="stylesheet" href="/css/style.css" data-inline>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/js/client.js"></script>
</head>

