<nav class="navbar">
    <div class="subnav">
        <a href="/"><img class="logo" alt="logo" src="/images/remindme.png" height="50px"></a>
        <h2 class="apptitle">Hey!!! Remind me . . . </h2>
    </div>
    <div class="subnav">
        <a href="/about">About</a>
        <% if (locals.loggedIn) { %>
            <span><%= userName %></span>
            <a href="/calendar">Calendar</a>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
        <% } %>
    </div>
</nav>
