<div class="formdiv remindmeformdiv">
    <% if (locals.retry) { %>
        <p class="prompt">Sorry, I spaced out just then, please try again!</p>
    <% } else { %>
        <p class="prompt">What can I remind you about?</p>
    <% } %>
    <form action="/" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="textareawrapper">
            <textarea name="text" id="dictated_text" rows="6" cols="50"><%= text %></textarea>
            <button id="remindmespeak" class="speak_button" type="button">&#127908;</button>
        </div>
        <button type="submit">Submit</button>
    </form>
        <!--
         <input type="text" id="apiKeyInput" placeholder="Paste Deepgram API Key" style="width: 300px; padding: 5px;">
        -->
</div>
