<div class="formdiv">
    <form action="/" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div>
            <label for="email_input">Email:</label>
            <input type="email" id="email_input" name="email_input">
        </div>
        <div>
            <label for="email_confirm_input">Confirm Email:</label>
            <input type="email" id="email_confirm_input" name="email_confirm_input">
        </div>
        <button id="resetpasswordbutton" type="submit" disabled>Send</button>
        </div>
    </form>
</div>
