<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

<body>

<header>
    <%- include("partials/navbar.ejs") %>
</header>

<div class="main-container">

    <%- include("partials/loginform.ejs") %>

</div>

<%- include("partials/footer.ejs") %>

</body>
</html>