body {
    margin: 0;
    background-color: aliceblue;
    color: darkslategrey;
}

.main-container {
    font-family: sans-serif;
    margin: 10px;
}

/* For small phones */
@media (max-width: 576px) {
    .main-container {
        margin: 10px;
        font-size: 18px;
    }
}

header {
    padding-bottom: 10px;
}

.navbar {
    background-color: burlywood;
    padding: 5px;
    color: darkslategray;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.subnav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.subnav a {
    margin: 0 20px;
    color: inherit;
    text-decoration: none;
    font-size: large;
}
.subnav a:visited {
    color: inherit;
}
.apptitle {
    font-family: "Dancing Script", cursive;
    font-size: xx-large;
}


.remindmeformdiv {
    margin: 20px;
    font-size: large;
    display: flex;
    flex-direction: column;
}
.remindmeformdiv div {
    margin-bottom: 20px;
}
.prompt {
    font-size: xx-large;
    font-family: Helvetica, sans-serif;
}

.textareawrapper {
    position: relative;
    display: inline-block;
    width: 500px;
}
.textareawrapper textarea {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    padding-right: 50px;
    box-sizing: border-box;
    display: block;
    resize: none;
    border: none;
    border-radius: 15px;
}
.textareawrapper button {
    position: absolute;
    padding: 10px;
    bottom: 10px;
    right: 10px;
    font-size: large;
    z-index: 2;
    border: 2px solid lightslategrey;
    border-radius: 15px;
}
.textareawrapper button:hover {
    cursor: pointer;
}

.formdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formdiv form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.formdiv p {
    font-size: xx-large;
    font-family: Helvetica, sans-serif;
}
.formdiv form div {
    margin-bottom: 20px;
    width: 100%;
}
.formdiv input, select {
    background: #ddd;
    font-size: large;
    padding: 15px 10px;
    border: none;
    width: 40%;
    box-sizing: border-box; /* Ensures padding is INCLUDED in the width */
    border-radius: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.formdiv label {
    display: inline-block;
    text-align: right;
    font-weight: bold;
    color: darkred;
    padding-right: 20px;
    width: 30%;
}
button[type="submit"] {
    font-size: large;
    padding: 15px;
    border: 2px solid lightslategrey;
    border-radius: 15px;
    margin: auto;
}

.accounthelpdiv {
    text-align: center;
    padding-top: 15px;
}
.accounthelpdiv p {
    font-family: revert;
    font-size: large;
}

footer {
    margin: 10px;
    margin-top: 40px;
}